.ms-row {
  display: flex;
}

.ms-cell {
  width: 25px;
  height: 25px;
  background: url("../../../../assets/swyws/minesweeper/images/ms-25x25-sprite.png") no-repeat;
  /*transition: 0.1s;*/
}

.ms-cell-0 {
  background-position: -350px, 0;
}

.ms-cell-1 {
  background-position: 0, 0;
}

.ms-cell-2 {
  background-position: -25px, 0;
}

.ms-cell-3 {
  background-position: -50px, 0;
}

.ms-cell-4 {
  background-position: -75px, 0;
}

.ms-cell-5 {
  background-position: -100px, 0;
}

.ms-cell-6 {
  background-position: -125px, 0;
}

.ms-cell-7 {
  background-position: -150px, 0;
}

.ms-cell-8 {
  background-position: -175px, 0;
}

.ms-cell-bomb {
  background-position: -200px, 0;
}

.ms-cell-bombed {
  background-position: -225px, 0;
}

.ms-cell-closed {
  background-position: -250px, 0;
}

.ms-cell-flagged {
  background-position: -275px, 0;
}

.ms-cell-question {
  background-position: -300px, 0;
}

.ms-cell-nobomb {
  background-position: -325px, 0;
}