<div class="ms-game-full">

  <div *ngIf="!dataService.showSettingsComp" class="ms-game-container">

    <div *ngFor="let row of dataService.gameModel; index as i" class="ms-row">
      <div *ngFor="let cell of row; index as j" class="ms-cell {{cell.className}}" (click)="makeMove(i, j)"
        (contextmenu)="placeFlag(i, j)" (dblclick)="makeMoveDblclick(i, j)"></div>
    </div>

    <div class="ms-flags">{{dataService.flags}}</div>

    <div [ngClass]="{result: true, lost: dataService.game_over == 1, won: dataService.game_over == 2, hidden: dataService.game_over == 0}">
      <p><a class="settings-link" (click)="showSettingsComp()">go to settings</a></p>
    </div>

  </div>

</div>